<div class="center">
  Weather for {{city}}
</div>
<!--<a [routerLink]="['/weather', { c: 'Blaina'} ]">Blaina</a>
<a [routerLink]="['/weather', { c: 'Abertillery'} ]">Abertillery</a>
<a [routerLink]="['/weather', { c: 'Riga'} ]">Riga</a>
<a [routerLink]="['/weather', { c: 'Palma'} ]">Palma</a>-->


<br/>

<!--<div class="details" style="float:left;" [innerHTML]="'City @&nbsp;' + city"></div>-->

<div *ngFor="let o of weather; let key = index">
  <div class="details" style="float:left;" [innerHTML]="'We have ' + o.description"></div>
  <!--<div class="details" style="float:left;" [innerHTML]="'We have ' + o.icon"></div>-->
  <div class="details">
    <img class="details" style="width:150px; height:150px" src="../../assets/svg/{{o.icon}}.svg" />
  </div>

</div>

<div class="details" style="float:left;" [innerHTML]="'Temperature is&nbsp;' + temp + ' degrees'"></div>
<!--<div class="details" style="float:left;" [innerHTML]="'Temperature (Min) is&nbsp;' + temp_min + ' degrees'"></div>
<div class="details" style="float:left;" [innerHTML]="'Temperature (Max) is&nbsp;' + temp_max + ' degrees'"></div>-->

<div class="details" style="float:left;" [innerHTML]="'Humidity is @&nbsp;' + humidity + '&nbsp;%'"></div>
<div class="details" style="float:left;" [innerHTML]="'Pressure is @&nbsp;' + pressure+ '&nbsp;millibars'"></div>



<div class="details" style="float:left;" [innerHTML]="'Sunrise is @&nbsp;' + (sunrise | date:  'HH:mm')"></div>
<div class="details" style="float:left;" [innerHTML]="'Sunset is @&nbsp;' + (sunset | date:  'HH:mm')"></div>


  <div class="center" style="float:left;" [innerHTML]="(today | date:  'HH:mm')"></div>
